<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoFiler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoFiler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoFiler.Properties.Settings>
            <setting name="DuplicateFilenames" serializeAs="String">
                <value>Prompt</value>
            </setting>
            <setting name="UnmanagedFileType" serializeAs="String">
                <value>AutoCheck</value>
            </setting>
        </AutoFiler.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AutoFiler.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=localhost;Database=autofiler;Uid=root;Pwd='';</value>
            </setting>
            <setting name="GetPreloadedFileTypes" serializeAs="String">
                <value>GetPreloadedFileTypes</value>
            </setting>
            <setting name="GetCustomFileTypes" serializeAs="String">
                <value>GetCustomFileTypes</value>
            </setting>
            <setting name="GetAllPreloadedFileTypes" serializeAs="String">
                <value>GetAllPreloadedFileTypes</value>
            </setting>
            <setting name="AddNewFolderDestination" serializeAs="String">
                <value>AddNewFolderDestination</value>
            </setting>
            <setting name="GetDestinationIdByName" serializeAs="String">
                <value>GetDestinationIdByName</value>
            </setting>
            <setting name="AddNewCustomFileType" serializeAs="String">
                <value>AddNewCustomFileType</value>
            </setting>
            <setting name="GetAllFolderDestinations" serializeAs="String">
                <value>GetAllFolderDestinations</value>
            </setting>
            <setting name="GetDestinationNameById" serializeAs="String">
                <value>GetDestinationNameById</value>
            </setting>
            <setting name="AssociatePreloadedFileType" serializeAs="String">
                <value>AssociatePreloadedFileType</value>
            </setting>
            <setting name="GetAllCustomFileTypes" serializeAs="String">
                <value>GetAllCustomFileTypes</value>
            </setting>
            <setting name="UpdateFolderDestination" serializeAs="String">
                <value>UpdateFolderDestination</value>
            </setting>
            <setting name="RemoveCustomFileType" serializeAs="String">
                <value>RemoveCustomFileType</value>
            </setting>
            <setting name="RemovePreloadedFileAssociation" serializeAs="String">
                <value>RemovePreloadedFileAssociation</value>
            </setting>
            <setting name="DeleteFolderDestination" serializeAs="String">
                <value>DeleteFolderDestination</value>
            </setting>
            <setting name="AddNewFileName" serializeAs="String">
                <value>AddNewFileName</value>
            </setting>
            <setting name="RemoveFileName" serializeAs="String">
                <value>RemoveFileName</value>
            </setting>
            <setting name="GetAllFileNames" serializeAs="String">
                <value>GetAllFileNames</value>
            </setting>
            <setting name="GetFileNames" serializeAs="String">
                <value>GetFileNames</value>
            </setting>
        </AutoFiler.Properties.Settings>
    </applicationSettings>
</configuration>